@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+HK:wght@400;700&display=swap");
header {
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-shadow: 2px 2px 2px #0A0A0A; }
  header .logo {
    color: #ec4141;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none; }
  header .menu {
    margin: 0px auto; }
    header .menu li {
      height: 100%;
      width: 100%;
      padding: 0 20px; }

#contenedorPromos {
  background-color: #ec4141;
  text-align: center;
  color: white;
  font-family: 'Bebas Neue', cursive;
  padding: 30px 10px; }
  #contenedorPromos p {
    margin: 0; }

body {
  font-family: 'Noto Sans HK', sans-serif;
  font-weight: 400; }

#home {
  background-image: url(../img/cross.jpg);
  background-position: center;
  height: 90vh; }

#contenedorServicios {
  min-height: 60vh;
  background-color: #ec4141;
  box-sizing: content-box; }
  #contenedorServicios .card {
    background-color: rgba(37, 37, 37, 0.884);
    color: white;
    margin: 10px; }
    #contenedorServicios .card img {
      padding-top: 10px; }

#formularioDeTurnos {
  background-color: rgba(37, 37, 37, 0.884);
  min-height: 100vh; }
  #formularioDeTurnos .formulario {
    background-color: #979797;
    min-height: 80%;
    width: 50%;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 40px;
    box-sizing: content-box; }
    #formularioDeTurnos .formulario .campo {
      width: 100%;
      margin: 10px 0px; }
    #formularioDeTurnos .formulario #btnConfirmar {
      margin-top: 20px; }

.error {
  background-color: #f3d1d1;
  border: 3px solid #cc7373; }

.requerido {
  color: red; }

.tablaTurnos {
  height: auto;
  background-color: #ec4141;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  padding: 20px; }
  .tablaTurnos .turno {
    color: white;
    background-color: rgba(37, 37, 37, 0.884);
    width: 250px;
    height: 250px;
    margin: 20px;
    display: inline-block; }

#workouts {
  background-image: url(../img/fondo2.jpg);
  background-position: center;
  text-align: center;
  color: white;
  min-height: 40vh;
  font-family: 'Bebas Neue', cursive; }
  #workouts h3 {
    padding: 20px 0px;
    font-size: 35px;
    text-shadow: 3px 3px 3px #979797; }
  #workouts #btnWods {
    margin-bottom: 20px; }
  #workouts #entrenamientos {
    min-height: 250px; }
    #workouts #entrenamientos p {
      font-family: 'Noto Sans HK', sans-serif;
      text-shadow: 3px 3px 3px #161616; }

.btnColor {
  transition: all 500ms ease-in-out; }
  .btnColor:hover {
    background-color: black;
    color: white; }
