#contenedorPromos{
    background-color:#ec4141;
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    padding: 30px 10px;
    p{
        margin: 0;
    }
    #btnPromos{
        transition: all 500ms ease-in-out;
        &:hover{
            background-color: black;
            color: white;;
        }
    }
}

