@import "fonts";
@import "header";
@import "promos";

body{
    font-family: 'Noto Sans HK', sans-serif;
    font-weight: 400;
}
#home{
    background-image: url(../img/cross.jpg);
    background-position: center;
    height: 90vh;
}
#contenedorServicios{
    min-height: 60vh;
    background-color: #ec4141;
    box-sizing: content-box;
    .card{
        background-color: rgba(37, 37, 37, 0.884);
        color: white;
        margin: 10px;
        img{
            padding-top: 10px;
        }
    }
}
#formularioDeTurnos{
    background-color: rgba(37, 37, 37, 0.884);
    min-height: 100vh;
    .formulario{
        background-color: #979797;
        min-height: 80%;
        width: 50%;
        font-family:'Bebas Neue', cursive;
        font-size: 20px;
        padding: 40px;
        box-sizing: content-box;
        .campo{
            width: 100%;
            margin: 10px 0px;
        }
        button{
            margin-top: 20px;
        }
    }
}

.error{
    background-color: #f3d1d1;
    border: 3px solid rgb(204, 115, 115);
}

.animacion{
    color: white;
    font-size: 25px;
    font-family:'Bebas Neue', cursive;
    text-align: center;
    padding-top: 20px;
    text-shadow: 2px 2px 2px #0A0A0A;
    a{
        text-decoration: none;
        color: white;
        &:hover{
            color: #ec4141;
        }
    }
}
.tablaTurnos{
    height: auto;
    background-color:#ec4141;
    text-align: center;
    font-family:'Bebas Neue', cursive;
    padding: 20px;
    .turno{
        background-color: #979797;
        width: 250px;
        height: 250px;
        margin: 20px;
    }
}